
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.posts-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 1rem;
  
  @media (max-width: 1255px) {
    max-width: 100vw;
    padding: 0;
  }
}
