.profile-cta{
  background-color: #1e3bdd;
  color: #fff;
  position: fixed;
  width: 100%;
  font-size: xx-small;
  bottom: 0;
  text-align: center;
  a{
    color: #94b5e0;
    text-decoration: none;
  }
}