.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 300px;
  word-wrap: break-word;
  background-color: rgb(245, 245, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
  @media (max-width: 1255px) {
    text-align: center;
    width: 90%;
  }
}

.card-author{
  font-weight: 500;
}

.card-author-company {
  color:#1e3bdd;
}