.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 1255px) {
    text-align: center;
    width: 90%;
  }
}

.card-author-company {
  color:#5c6bc0;
}